alembic==1.13.1
bcrypt==4.0.1
fastapi==0.115.12
fastapi-cli==0.0.7
httpx==0.28.1
Jinja2==3.1.6
lxml==5.0.0
passlib==1.7.4
psycopg2==2.9.9
pydantic==2.11.3
pydantic_core==2.33.1
pytest==8.4.1
pytest-asyncio==1.0.0
python-dotenv==0.19.2
python-jose==3.5.0
python-multipart==0.0.20
SQLAlchemy==1.4.29
starlette==0.46.2
uvicorn==0.34.2

