{% extends 'layout.html' %}

{% block content %}
<button class="mode-toggle" onclick="toggleDarkMode()">🌓 Dark Mode</button>

<div class="dashboard">
  <div class="left-panel">
    <canvas id="streakChart"></canvas>
  </div>
  <div class="right-panel">
    <div class="top-box">
      <h3>🎯 Streak Info</h3>
      <p>Current Streak: <span id="currentStreak">13</span></p>
      <p>Today's Max Streak: <span id="maxStreak">37</span></p>
    </div>
    <div class="bottom-box">
      <h3>🎵 Today's Song</h3>

      <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/track/7ouMYWpwJ422jRcDASZB7P?utm_source=generator"
        width="100%" height="152" frameborder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy">
      </iframe>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='js/index_script.js') }}" defer></script>
{% endblock %}
